<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="app">
      <h1>📝 Todo App</h1>

      <div class="input-group">
        <input id="title" type="text" placeholder="Todo title" />
        <input id="description" type="text" placeholder="Description" />
        <button onclick="addTodo()">Add</button>
      </div>

      <ul id="list" class="list"></ul>
    </div>

    <script>
      function formatTime(dateStr = new Date()) {
        const date = new Date(dateStr);

        const options = {
          day: "2-digit",
          month: "short",
          year: "numeric",
          hour: "numeric",
          minute: "2-digit",
          hour12: true,
        };

        const formatted = date.toLocaleString("en-US", options);
        return formatted;
      }
      async function deleteTodo(id) {
        if (!id) return;
        let data = await fetch(`/api/todo/${id}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" },
        });
        data = await data.json();

        if (!data.success) return;
        const htmlEle = document.getElementById(id);
        if (htmlEle) htmlEle.remove();
      }
      async function load() {
        const res = await fetch("/api/todo");
        const json = await res.json();
        const todos = json.data || [];
        console.log("todos ->", todos);
        if (!todos.length) {
          return (document.getElementById(
            "list"
          ).innerHTML = `<li class="todo-item">
            <div class="todo-main">
              <p>No todo list</p>
            </div>
          </li>`);
        }
        document.getElementById("list").innerHTML = todos
          .map(
            (t) => `
          <li class="todo-item" id="${t.id}"">
            <div class="todo-main">
              <h3>${t.title}</h3>
              <p>${t.description}</p>
            </div>

            <div class="todo-meta">
              <div class="status-container">
                <span class="status ${t.status.toLowerCase()}">
                  ${t.status}
                </span>
                <button class="delete-btn" onclick="deleteTodo(${
                  t.id
                })">🗑 Delete</button>
              </div>
              <small>📅 ${formatTime(t.due_date)}</small>
            </div>
          </li>
        `
          )
          .join("");
      }

      async function addTodo() {
        const title = document.getElementById("title").value;
        const description = document.getElementById("description").value;

        if (!title || !description) {
          return alert("Title and description required");
        }

        await fetch("/api/todo", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            title,
            description,
            status: "Pending",
          }),
        });

        document.getElementById("title").value = "";
        document.getElementById("description").value = "";
        load();
      }

      load();
    </script>
  </body>
</html>
